@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";


*{
padding:0;
margin:0;
}

body{
  padding:2%;
}

p{
  @include default-border-box($clr-cyan-400, 20px);
}
